.main-header
{
	height: 100px; 	
}

.main-header-text
{
    text-align: center;
    text-justify: distribute;
    font-size: 180px;
    font-family: 'Deep Hero';
    font-weight: normal;
    color: rgb(240, 136, 0);
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 10px;   
}

.features-text
{
    margin-top: 50px;
    margin-bottom: 150px;
    font-family: 'Environment';
    font-weight: bold;
    font-size: 130px;
    text-align: center;
    color: rgb(29, 27, 27);
}

.bullet-text
{
    font-family: 'Environment';
    font-weight: bolder;
    color: rgb(255, 145, 0);
    font-weight: bold;
    position: static;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 78px; 
    flex: 0.5;  
}

.description-text
{
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 90px;
    position: static;
    font-size: 70px;
    font-family: 'Qedysans';
    line-height: 1.2;
}

.dog-activity-image
{
    height: 610px;
    width: 30%;
    display: block;
    margin: 40px;
    justify-content: flex-start; 
    align-items: flex-start;
    /* border-radius: 300px; */
}

.image-container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;
}

.text-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    margin-top: 70px;    
    
}

.goback-button 
{
    display: inline-block;
    padding: 20px 20px; 
    background-color: #e48500; 
    color: #333; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    width: 60px;
    height: 30px;
}

html
{
    background-color: beige;
}

@font-face {
    font-family: 'Deep Hero';
    src: url('/home/gerald/projects/mcruncher/mcruncher.github.io/furiend/furiend-plus-features/assets/Deep\ Hero.ttf') format('truetype');
}

@font-face {
    font-family: 'Raspberie';
    src: url('/home/gerald/projects/mcruncher/mcruncher.github.io/furiend/furiend-plus-features/assets/Raspberie.ttf') format('truetype');
}

@font-face {
    font-family: 'Feltful';
    src: url('/home/gerald/projects/mcruncher/mcruncher.github.io/furiend/furiend-plus-features/assets/feltful_regular.otf') format('opentype');
}

@font-face {
    font-family: 'Environment';
    src: url('/home/gerald/projects/mcruncher/mcruncher.github.io/furiend/furiend-plus-features/assets/Environment.otf') format('opentype');
}

@font-face {
    font-family: 'Qedysans';
    src: url('/home/gerald/projects/mcruncher/mcruncher.github.io/furiend/furiend-plus-features/assets/Qedysans.ttf') format('truetype');
}

/*============================================================================== 
    iPhone 4 and 4S || 320 x 480 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
and (max-width: 480px){
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 320px) 
and (max-width: 480px) and (orientation: portrait) {
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 320px) 
and (max-width: 480px) and (orientation: landscape) {
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPhone 5, 5S, 5C and 5SE || 320 x 568 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
and (max-width: 568px){
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 320px) 
and (max-width: 568px) and (orientation: portrait) {
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 320px) 
and (max-width: 568px) and (orientation: landscape) {
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPhone 6, 6S, 7 and 8 || 375 x 667 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
and (max-width: 667px){ 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 375px) 
and (max-width: 667px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 375px) 
and (max-width: 667px) and (orientation: landscape) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPhone 6+, 7+ and 8+ || 414 x 736 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 414px) 
and (max-width: 736px){ 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 414px) 
and (max-width: 736px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}

}

@media only screen and (min-width: 414px) 
and (max-width: 736px) and (orientation: landscape) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPhone X || 375 x 812 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
and (max-width: 812px){ 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: landscape) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (max-device-width : 1024px)
and (orientation : portrait) {
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (max-device-width : 1024px)
and (orientation : landscape) {
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPad || 768 x 1024 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 768px) 
and (max-width: 1024px){ 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 768px) 
and (max-width: 1024px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 768px) 
and (max-width: 1024px) and (orientation: landscape) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPad Pro || 1024 x 1366 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 1024px)
and (max-width: 1366px){ 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 1024px)
and (max-width: 1366px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 1024px)
and (max-width: 1366px) and (orientation: landscape) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPad Pro 12.9 || 1024 x 1366 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 1024px)
and (max-width: 1366px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 1024px)
and (max-width: 1366px) and (orientation: landscape) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

/*============================================================================== 
iPad Pro 11 || 834 x 1194 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 834px)
and (max-width: 1194px) { 
    .test-class{display: none !important; visibility: hidden !important;}
}

@media only screen and (min-width: 834px)
and (max-width: 1194px) and (orientation: portrait) {
    .test-class{display: none !important; visibility: hidden !important;}
}