.main-header
{
	height: 100px; 	
}

.main-header-text
{
    text-align: center;
    text-justify: distribute;
    font-size: 60px;
    font-family: 'Deep Hero';
    color: rgb(240, 136, 0);
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 10px;   
}

.features-text
{
    margin-top: 0px;
}

@font-face {
    font-family: 'Deep Hero';
    src: url('/home/gerald/Documents/Deep Hero.ttf') format('truetype');
}