:root 
{
    --bs-body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
    margin-left: 30px;
}


.main-header
{
	height: 100px; 	
}

.main-header-text
{
    text-align: center;
    text-justify: distribute;
    font-size: 180px;
    font-family: 'Deep Hero';
    font-weight: normal;
    color: rgb(240, 136, 0);
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 10px;   
}

.features-text
{
    margin-top: 50px;
    margin-bottom: 110px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    font-size: 110px;
    text-align: center;
    color: rgb(29, 27, 27);
}

.bullet-text
{
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    color: black;
    position: static;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 60px; 
    flex: 0.5;  
    line-height: 1.1;
}

.description-text
{
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 90px;
    position: static;
    font-size: 40px;
    font-weight: 300;
    font-family: var(--bs-body-font-family);
    line-height: 1.1;
}


.container-fluid
{
    margin-bottom: 40px;
    padding-left: 20px;
}

html
{
    background-color: beige;
}

@font-face {
    font-family: 'Deep Hero';
    src: url('assets/DeepHero.ttf') format('truetype');
}

@font-face {
    font-family: 'Rustic';
    src: url('assets/RusticStory.ttf') format('opentype');
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('assets/Quicksand_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Quicksand Light';
    src: url('assets/Quicksand_Light.otf') format('opentype');
}
