body{
    font-family:'Open Sans', sans-serif;
}

.ws-header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ws-row{
    margin: 10px;
}

.btn{
    width: 150px;
    height: 40px;
}