:root {
    --bs-body-font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    margin-bottom: 4.375rem; 
}

body {
    margin-left: 1.875rem; 
    margin-bottom: 0;
}

footer {
    line-height: 0.2; 
}

html {
    font-size: 20px; 
}

.main-header {
    height: 6.25rem; 
}

.main-header-text {
    text-align: center;
    text-justify: auto;
    font-size: 3.438rem; 
    font-family: var(--bs-body-font-family);
    font-weight: normal;
    color: black;
    margin-top: 50px;
     
}

.bullet-text {
    font-family: var(--bs-body-font-family);
    font-weight: 550;
    color: black;
    position: static;
    margin-left: 0.938rem; 
    margin-right: 0.625rem; 
    margin-top: 0.313rem; 
    margin-bottom: 25px; 
    line-height: 1.1;
    padding-top: 20px;
    padding-left: 0;
}

.description-text 
{
    margin-top: 0.313rem; 
    margin-right: 0.625rem; 
    margin-left: 0.938rem; 
    font-weight: 300;
    font-family: var(--bs-body-font-family);
    line-height: 1.25;
    padding: 0;
 
}

.container-fluid {
    margin-bottom: 3.75rem; 
    margin-top: 3.75rem; 
    padding-left: 3.75rem; 
    padding-bottom: 6.875rem; 
    border-bottom: 0.036rem solid; 
    border-color: gray;
}

.container-fluid-first {
    margin-bottom: 1.25rem; 
    margin-top: 3.75rem; 
    padding: 1.25rem; 
    padding-bottom: 4.375rem; 
}

.img-fluid {
    border-radius: 5rem; 
    border: 0.0625rem solid gray; 
}

.img-fluid-first {
    border-radius: 5rem; 
    margin-bottom: 0.625rem; 
}


@media (max-height: 930px) 
{    
    .main-header-text 
    {
        font-size: 3rem;
    }
    
    .bullet-text 
    {
        font-size: 1.9rem;
    }

    .description-text 
    {
        font-size: 1.2rem; 
    }
} 


@media (min-height: 930px) 
{
    
    .main-header-text
    {
        font-size: 4rem;
    }
    .bullet-text
    {
        font-size: 2.2rem;
    }
    .description-text
    {
        font-size: 1.9rem;
    }
}
