:root 
{
    --bs-body-font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header
{
    margin-bottom: 7rem;
}
body
{
    margin-left: 30px;
    margin-bottom: 0px;
}

footer
{
    line-height: 0.2;
}

.main-header
{
	height: 100px; 	
}

.main-header-text
{
    text-align: center;
    text-justify: distribute;
    font-size: 5.5rem;
    font-family: var(--bs-body-font-family);
    font-weight: normal;
    color: black;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 110px;   
}


.bullet-text
{
    font-family: var(--bs-body-font-family);
    font-weight: 450;
    color: black;
    position: static;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 60px; 
    flex: 0.5;  
    line-height: 1.1;
    padding: 0px;
    
}

.description-text
{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 40px;
    font-weight: 300;
    font-family: var(--bs-body-font-family);
    line-height: 1.1;
    padding: 0;
    letter-spacing: 0.1px;
    
    
    
}


.container-fluid
{
    margin-bottom: 60px;
    margin-top: 60px;
    padding-left: 60px;
    padding-bottom: 110px;
    border-bottom: 1px ridge;
    border-color: gray;
}


.container-fluid-first
{
    margin-bottom: 20px;
    margin-top: 60px;
    padding-left: 20px;
    padding-bottom: 70px;
}

.img-fluid
{
    border-radius: 80px;
    border: 1px solid gray;
}

.img-fluid-first
{
    border-radius: 80px;
    margin-bottom: 10px;
}



